<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssured_API's_Suite">
	<listeners>
		<listener class-name="com.listener.TestListener" />
		<listener class-name="com.listener.RetryListener" />
	</listeners>
	<test thread-count="5" name="Grizzly_PAW_API's">
		<classes>
			<class name="com.testSuite.version_GET_ANDROID" />
			<class name="com.testSuite.version_GET_IOS" />
		</classes>
	</test>
</suite>
